@import url(https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css);@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);/*
* The contents of this file are subject to the terms of the Common Development and
* Distribution License (the License). You may not use this file except in compliance with the
* License.
*
* You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
* specific language governing permission and limitations under the License.
*
* When distributing Covered Software, include this CDDL Header Notice in each file and include
* the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
* Header, with the fields enclosed by brackets [] replaced by your own identifying
* information: "Portions copyright [year] [name of copyright owner]".
*
* Copyright 2016-2018 ForgeRock AS.
*/
/***********************************/
/* Imported Styles
/***********************************/
/***********************************/
/* General Styles - Print Media
/***********************************/
* {
  -webkit-transition: none !important;
  transition: none !important; }

@page {
  size: auto portrait;
  margin: 20mm 10mm;
  orphans: 3;
  widows: 2; }

.hidden-print, #index {
  display: none; }

html, body {
  margin: 0;
  width: 100%; }

body {
  font-family: serif;
  color: black;
  background: white;
  font-size: 12pt;
  line-height: 1.2;
  padding: 0; }

p {
  margin: 0 0 7px 17px;
  text-align: justify;
  text-justify: inter-word; }

.strong, .bold {
  font-weight: bold !important; }

/***********************************/
/* Navigation headers, Footers & Book Title
/***********************************/
backstage-site-header,
backstage-site-footer,
span.text-muted.nowrap.hidden-sm.hidden-md.hidden-xs,
div.modal.fade,
div.alternateBar,
.navbar-header,
.navbar-right,
.dropdown-menu,
button.btn.btn-primary.btn-default,
button.close,
div.alert.alert-warning.alert-dismissible,
ul.nav.nav-stacked.hidden-print ul,
.col-xs-11.col-sm-4.alert.alert-warning.animated.fadeInRight,
ul.nav.nav-tabs.fr-multi-screen,
form#secondHeaderSearchForm {
  display: none !important; }

.dropdown-toggle {
  display: block;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  top: 0px; }

#doc-content h1#doc-content-abstract {
  font-size: 1em; }

div.col-sm-3.hidden-xs.hidden-print {
  display: block;
  position: absolute;
  font-weight: bold;
  padding-top: 6em;
  top: 0px; }

div#doc-content {
  padding-top: 8em; }

/***********************************/
/* Tables
/***********************************/
.table {
  border-collapse: collapse;
  width: 98%;
  margin: 0 0 0 17px; }

th {
  font-family: sans-serif; }

.table th, .table td {
  border-bottom: 1px solid lightgray;
  padding: 4px;
  text-align: left; }

th[align="center"],
td[align="center"] {
  text-align: center; }

.table-contents td > p,
.informaltable td > p,
.table-contents td > pre,
.informaltable td > pre {
  margin: 4px 0 4px 0; }

.simplelist td {
  border-bottom-width: 0px;
  padding: 0;
  margin: 4px 0 4px 0; }

/***********************************/
/* Images and Logos
/***********************************/
img {
  max-width: 100% !important;
  margin: 10px 0 10px 0; }

.navbar-brand img {
  -webkit-filter: brightness(0%);
  filter: brightness(0%); }

.co > img,
.programlistingco .calloutlist span > img {
  height: 1.2em;
  margin-bottom: 0.2em; }

/***********************************/
/* Page Breaking
/***********************************/
#doc-content {
  position: relative;
  float: none !important; }

.chapter, .glossary, .appendix, .index, .preface {
  float: none !important;
  position: relative;
  break-before: always;
  page-break-after: always; }

.panel, .mediaobject, .table
.cmdline, .codelisting, .figure, code {
  float: none !important;
  position: relative;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

/***********************************/
/* Headings and Titles
/***********************************/
#doc-content h1 {
  font-size: 2.7em;
  margin: 1em 0 1em 0;
  bookmark-level: 1;
  bookmark-label: content(text); }

#doc-content h2 {
  font-size: 1.7em;
  margin: 1em 0 1em 0;
  bookmark-level: 2;
  bookmark-label: content(text); }

#doc-content h3 {
  font-size: 1.3em;
  margin: 1em 0 1em 0;
  bookmark-level: 3;
  bookmark-label: content(text); }

#doc-content h4 {
  font-size: 1.12em;
  margin: 1em 0 1em 0; }

#doc-content h5,
#doc-content h6,
#doc-content h7 {
  font-size: 1em;
  margin: 1em 0 1em 0; }

.title {
  font-family: sans-serif; }

.figure-title, .table-title {
  font-weight: bold;
  margin: 1em 0 1em 0;
  text-align: center;
  font-style: italic;
  font-family: sans-serif; }

.procedure,
.example,
.informalexample {
  margin: 5px 7px 10px; }

.procedure-title, .variablelist-title, .example-title {
  font-weight: bold;
  margin: 1em 0 1em 0;
  text-align: left;
  font-family: sans-serif; }

/***********************************/
/* Jumbotron
/***********************************/
.jumbotron {
  border-bottom: 1px solid grey;
  margin: 0px;
  padding: 0 0 12px 15px; }

.jumbotron h1 {
  font-family: sans-serif;
  font-size: 3em !important;
  font-weight: 600 !important; }

.jumbotron small {
  color: #333;
  display: block; }

.jumbotron p {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 20px; }

/***********************************/
/* Links
/***********************************/
a {
  color: black;
  text-decoration: none; }

p a.link:after {
  content: " (" attr(href) ")";
  font-size: 80%; }

a.link[href^="http"], .olink {
  background-image: none;
  margin-right: 0px;
  padding-right: 0px; }

a.self-link[href]:hover::after {
  line-height: 1;
  padding-left: 0px;
  position: relative;
  top: 1px; }

/***********************************/
/* Panels
/***********************************/
.panel {
  box-shadow: none;
  border-left: 4px solid grey;
  border-width: 0 0 0 4px;
  margin: 0 0 10px 17px; }

.panel-heading {
  border: none;
  padding: 1px 10px; }

.panel-body {
  padding: 2px 0px; }

.panel-body p {
  margin: 0 0 7px 17px; }

.panel-body li p {
  margin: 0 0 7px 0; }

.panel-title {
  margin: 0;
  font-size: 0.9em !important;
  font-family: sans-serif; }

/* Light Blue */
.panel-info {
  border-color: #d1e9f5; }

/* Brown/Red */
.panel-warning {
  border-color: #921a20; }

/* Light Red */
.panel-danger {
  border-color: #eed6d6; }

/* Light Green */
.panel-success {
  border-color: #d8eecf; }

/* "Primary" Blue */
.panel-primary {
  border-color: #2965a8; }

/***********************************/
/* Misc Text Formatting
/***********************************/
.term {
  text-decoration: underline; }

.variablelist > dt {
  margin: 2px 0 3px 0; }

code, kbd, pre, samp {
  font-family: monospace;
  font-size: 0.9em; }

code.literal {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  display: -ms-inline-grid;
  word-break: break-all;
  word-break: break-word;
  vertical-align: bottom; }

pre.prettyprint {
  border: 1px dotted lightgrey;
  padding: 8px 8px 8px 8px;
  margin: 0 0 7px 17px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  display: -ms-inline-grid;
  word-break: break-all;
  word-break: break-word;
  white-space: pre-wrap;
  word-break: keep-all; }

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important; }

.glossterm {
  font-weight: 700; }

.variablelist
.term,
.simplelist,
.literallayout {
  margin: 0 0 7px 17px; }

li > p,
td .simplelist {
  margin: 0 0 7px 0px; }

/***********************************/
