@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);@import url(https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.4.33/example1/colorbox.css);/*
* The contents of this file are subject to the terms of the Common Development and
* Distribution License (the License). You may not use this file except in compliance with the
* License.
*
* You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
* specific language governing permission and limitations under the License.
*
* When distributing Covered Software, include this CDDL Header Notice in each file and include
* the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
* Header, with the fields enclosed by brackets [] replaced by your own identifying
* information: "Portions copyright [year] [name of copyright owner]".
*
* Copyright 2015-2017 ForgeRock AS.
*/
.panel-warning {
  border-color: brown; }
  .panel-warning > .panel-heading {
    background-color: brown;
    border-color: brown;
    color: white; }

.strong, .bold {
  font-weight: bold !important; }

.strike {
  text-decoration: line-through;
  text-decoration-color: #bb3d11;
  color: #4e5862; }

.fa.deprecated {
  color: #bb3d11;
  font-size: 1.2em; }

.preface > .titlepage + p:first-of-type,
.preface > .indexterm + p:first-of-type,
.preface > .titlepage + .itemizedlist > p:first-child,
.preface > .indexterm + .itemizedlist > p:first-child {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 15px; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  animation-name: fadeOutRight; }

[data-notify="container"] {
  width: 320px;
  padding: 5px 10px;
  font-size: 12px;
  font-size: 1.2rem; }

[data-notify="title"] {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 0 5px 3px;
  display: inline-block; }

[data-notify="message"] > .alert-link {
  font-weight: 500; }

[data-notify="message"] > p {
  margin: 0 0 4px; }

#main-content .olink, #main-content .xref, #main-content .link {
  text-decoration: underline dotted; }
  #main-content .olink, #main-content .xref, #main-content .link {
    color: #2b6ea6; }
    #main-content .olink:visited, #main-content .xref:visited, #main-content .link:visited {
      color: #2b6ea6; }
    #main-content .olink:hover, #main-content .xref:hover, #main-content .link:hover {
      color: #4d95d1;
      text-decoration: none; }
    #main-content .olink:active, #main-content .olink:focus, #main-content .xref:active, #main-content .xref:focus, #main-content .link:active, #main-content .link:focus {
      color: #4d95d1; }
  #main-content .olink:hover, #main-content .xref:hover, #main-content .link:hover {
    text-decoration: underline dotted; }

#main-content a[href^="../resources/"]::after {
  -moz-osx-font-smoothing: grayscale;
  content: "\f019";
  color: #2b6ea6;
  display: inline-block;
  font-family: "Glyphicons Halflings", FontAwesome, Symbol, ZapfDingbats;
  font-size: 90%;
  font-style: normal;
  line-height: 1;
  padding-left: 2px;
  position: relative;
  top: 0px; }

#main-content .self-link {
  color: #000; }
  #main-content .self-link:visited {
    color: #000; }
  #main-content .self-link:hover {
    color: #000;
    text-decoration: none; }
  #main-content .self-link:active, #main-content .self-link:focus {
    color: #000; }

#main-content .self-link:hover::after {
  -moz-osx-font-smoothing: grayscale;
  content: "\e144";
  color: #2b6ea6;
  display: inline-block;
  font-family: "Glyphicons Halflings", FontAwesome, Symbol, ZapfDingbats;
  font-size: 75%;
  font-style: normal;
  line-height: 1;
  padding-left: 5px;
  position: relative;
  top: 1px; }

/* List Styles */
.dl-horizontal {
  border-top: 1px dotted rgba(30, 63, 75, 0.75);
  padding-top: 10px; }
  .dl-horizontal dt {
    white-space: normal;
    padding: 0 3px 0 0;
    width: 200px; }
  .dl-horizontal dd {
    border-bottom: 1px dotted rgba(30, 63, 75, 0.75);
    margin-bottom: 18px;
    margin-left: 210px; }

.variablelist dt {
  margin: 0 0 5px 15px;
  padding-top: 10px; }

.variablelist dd {
  margin: 5px 0 5px 30px; }
  .variablelist dd > div > dl.variablelist {
    border-bottom: none; }

.variablelist > dl {
  border-top: 1px dotted rgba(30, 63, 75, 0.75);
  border-bottom: 1px dotted rgba(30, 63, 75, 0.75);
  margin-bottom: 10px; }

.variablelist > dt:not(:first-of-type) {
  border-top: 1px dotted rgba(30, 63, 75, 0.75); }

.simplelist {
  margin-bottom: 10px;
  font-size: 14px;
  font-size: 1.4rem; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  color: #212529;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0px !important;
  position: relative;
  min-height: 100%; }

#main-content .row {
  min-height: 100%; }
  #main-content .row:after {
    content: "";
    display: block;
    height: 500px;
    position: relative;
    width: 0px;
    margin: 0 0 0 auto; }

#doc-content {
  margin-top: 100px; }
  #doc-content :not(td):not(li):not(sup):not(.co):not(tr)[id]::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden; }

#doc-content-abstract {
  border-left: 5px solid #bb3d11;
  color: #666;
  font-size: 18px;
  font-weight: 400;
  padding: 4px 0 1px 10px;
  margin-top: 24px; }
  #doc-content-abstract p {
    margin-bottom: 9px;
    font-style: italic; }

.footnotes > .footnote {
  font-size: 0.9em;
  color: #343a40; }

/***********************************/
/* Alternative Versions Bar
/***********************************/
#alternateBar {
  bottom: -20px;
  padding: 5px 15px;
  position: fixed;
  text-align: center;
  width: 100%;
  display: none;
  z-index: 99; }

.mr-1 {
  display: inline-block;
  margin-right: 20px; }

#alternate-titles > a {
  color: #66512c;
  font-weight: bold;
  margin-right: 15px; }

.alert-dismissible .close {
  color: inherit;
  position: relative;
  right: 0px;
  top: -2px; }

.back-to-top {
  position: fixed;
  bottom: 55px;
  right: 5px;
  display: none; }
  .back-to-top .btn-primary {
    background-color: #bb3d11;
    border-color: #8c2e0d; }
    .back-to-top .btn-primary:hover {
      background-color: #d24513;
      border-color: #a4350f; }

/* Title Styles */
.itemizedlist-title, .figure-title, .table-title, .variablelist-title, .example-title {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 12px 0 6px; }

.figure-title {
  margin: 16px 0 4px;
  text-align: center;
  font-style: italic; }

.table-title {
  text-align: center;
  font-style: italic; }

.variablelist-title {
  margin: 10px 0;
  text-decoration: underline; }

div.procedure-title, div.table-title {
  margin: 6px 0 8px; }

.procedure-title > a, .procedure-title > a:hover {
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 700; }

.calloutlist-title {
  font-style: italic;
  margin: 4px 0 6px;
  font-weight: bold; }

div h5,
div h6,
div h7 {
  font-size: 17px;
  font-size: 1.7rem; }

#sidebar {
  max-height: calc(100vh - 150px); }
  #sidebar.affix {
    position: fixed;
    top: 116px; }
  #sidebar.affix-top {
    position: fixed;
    top: 116px; }
  #sidebar.affix-bottom {
    position: absolute; }

#sidebar {
  overflow-y: auto;
  overflow-x: hidden; }
  #sidebar .btn-primary.latestUpdate {
    margin-bottom: 1em; }
  #sidebar .displayVersion {
    font-size: 12px;
    padding: 2px 0 9px 2px; }
    #sidebar .displayVersion .updatelabel {
      font-style: italic;
      font-weight: bold;
      color: #777; }
  #sidebar .input-group-btn i {
    color: #bb3d11; }
  #sidebar .input-group-btn .caret {
    color: #bb3d11; }
  #sidebar #secondHeaderSearchForm {
    padding-right: 1em; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: #bb3d11; }

.eosl {
  background-color: #bb3d11; }

#sidebar .nav a {
  color: #343a40;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 10px;
  padding: 2px 10px 2px 2px;
  border-right: solid 2px transparent; }
  #sidebar .nav a:hover {
    color: #bb3d11;
    border-right: solid 2px #bb3d11; }

#sidebar .nav ul.nav {
  display: none;
  padding-left: 1rem; }

#sidebar .nav .active > ul.nav {
  display: block; }

#sidebar .nav .active > a {
  color: #bb3d11;
  border-right: solid 2px #bb3d11;
  font-weight: bold; }

#sidebar .nav .nav .nav a {
  font-size: 12px;
  font-size: 1.2rem; }

#sidebar .nav .nav .nav .nav a {
  font-size: 11px;
  font-size: 1.1rem; }

/***********************************/
/* Banner Styles
/***********************************/
.nav.navbar-nav.navbar-right {
  padding-right: 15px; }

.navbar-right.navbar-form {
  margin-top: 0px;
  margin-bottom: 0px; }

.navbar-default .btn-link {
  color: rgba(30, 63, 75, 0.75) !important;
  padding: 15px 3px; }

.navbar-secondary {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  top: 50px; }
  .navbar-secondary .navbar-brand {
    color: #bb3d11;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 16px 14px 0 16px;
    font-weight: bold; }
    .navbar-secondary .navbar-brand a {
      color: #bb3d11;
      font-weight: bold; }
      .navbar-secondary .navbar-brand a:hover {
        text-decoration: none;
        color: #f29473; }
  .navbar-secondary .navbar-text {
    font-size: 18px;
    font-size: 1.8rem;
    margin: 0px;
    padding: 18px 0 0 2px;
    line-height: 1em; }
    .navbar-secondary .navbar-text a {
      color: #000;
      background-color: inherit; }
      .navbar-secondary .navbar-text a:hover {
        text-decoration: underline;
        color: #4d4d4d; }

.navfooter {
  margin: 30px 0 12px;
  border-top: 1px dotted;
  padding-top: 10px;
  color: #4d4d4d; }
  .navfooter a {
    color: #2b6ea6;
    font-size: 0.8em;
    background-color: inherit; }
    .navfooter a:hover {
      text-decoration: none;
      color: #bb3d11; }

.navbar-default .btn-link:hover {
  text-decoration: none !important; }

.toolbar-icon {
  cursor: pointer;
  display: inline-block;
  margin: 0px; }
  .toolbar-icon a {
    color: rgba(30, 63, 75, 0.75);
    padding: 10px 0; }
    .toolbar-icon a:hover {
      text-decoration: none !important;
      color: rgba(75, 154, 183, 0.75); }
  .toolbar-icon i.fa-envelope-open-o {
    display: none; }
  .toolbar-icon .toolbar-text {
    margin: 1px 2px 0 3px;
    font-size: 0.9em; }

#secondHeaderSearchForm {
  display: inline-block;
  width: 100%;
  padding-top: 3px;
  margin-bottom: 0px; }
  #secondHeaderSearchForm .toolbar-icons {
    display: inline-block;
    color: rgba(30, 63, 75, 0.75) !important;
    vertical-align: middle; }
    #secondHeaderSearchForm .toolbar-icons .toolbar-icon {
      cursor: pointer;
      display: inline-block;
      margin: 0 0 0 5px; }
      #secondHeaderSearchForm .toolbar-icons .toolbar-icon a {
        color: rgba(30, 63, 75, 0.75); }
        #secondHeaderSearchForm .toolbar-icons .toolbar-icon a:hover {
          text-decoration: none !important;
          color: rgba(30, 63, 75, 0.75); }
      #secondHeaderSearchForm .toolbar-icons .toolbar-icon i.fa-envelope-open-o {
        display: none; }
      #secondHeaderSearchForm .toolbar-icons .toolbar-icon .toolbar-text {
        margin: 1px 2px 0 3px;
        font-size: 0.9em; }

.dropdown-menu {
  min-width: unset !important; }

.dropdown-menu > li {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 0 10px; }
  .dropdown-menu > li > a {
    padding: 1px 10px 2px 5px; }
  .dropdown-menu > li.dropdown-header {
    font-style: italic;
    padding: 2px 10px 1px 10px; }

.st-custom-button i.fa {
  width: 18px;
  text-align: center; }
  .st-custom-button i.fa.fa-facebook {
    color: #3b5998; }
  .st-custom-button i.fa.fa-linkedin {
    color: #007bb6; }
  .st-custom-button i.fa.fa-twitter {
    color: #00aced; }

/* Code Styles */
code {
  font-size: 12px;
  font-size: 0.9375em;
  padding: 0;
  color: #343a40;
  background-color: transparent; }

code.literal, code.filename {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  display: -ms-inline-grid;
  word-break: break-all;
  word-break: break-word;
  vertical-align: bottom; }

.command {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  font-size: 0.9375em; }
  .command > strong {
    font-weight: 600; }

.literallayout {
  background-color: #f5f5f5;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  font-size: 0.9375em;
  max-width: 100%;
  padding: 2px 4px;
  border: 1px solid gainsboro;
  margin: 0 0 10px;
  overflow-wrap: break-word;
  white-space: normal; }
  .literallayout > p {
    margin: 2px 4px; }
  .literallayout .literal {
    background-color: transparent; }

.btn-copy-cmdline,
.btn-copy-codelisting {
  background-color: #fff;
  color: #7b8a8b;
  display: block;
  font-size: 12px;
  font-size: 0.9375em;
  padding: 1px 3px 3px;
  position: absolute;
  right: 1px;
  top: 1px;
  border-left: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  border-radius: 0 2px 0 4px; }

pre.prettyprint {
  border: 1px solid gainsboro;
  padding: 8px 26px 8px 8px;
  font-size: 12px;
  font-size: 0.9375em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
  word-break: keep-all; }

.zero-clipboard {
  display: block;
  position: relative; }
  .zero-clipboard > span {
    cursor: pointer; }
    .zero-clipboard > span:hover {
      color: rgba(30, 63, 75, 0.75); }

.zeroclipboard-is-hover {
  background-color: rgba(30, 63, 75, 0.75);
  border-color: rgba(30, 63, 75, 0.75);
  color: #fff;
  cursor: pointer; }

.ui-effects-transfer {
  border: 1px dotted #000;
  background-color: rgba(30, 63, 75, 0.75);
  opacity: 0.4; }

.hljs {
  background: #f5f5f5 !important; }

/* Procedure Styles */
div.procedure-inner {
  border-color: lightslategray;
  background-color: rgba(253, 253, 255, 0.7);
  border-style: dotted dotted dotted solid;
  border-width: 1px 1px 1px 6px;
  margin: 15px 0 10px;
  padding: 8px 15px 10px 10px; }

/* Image Styles */
a.fancybox {
  text-decoration: none; }
  a.fancybox > img {
    cursor: zoom-in; }

#cboxTitle {
  color: #212529;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400; }

#cboxOverlay {
  background: none repeat scroll 0 0 rgba(30, 63, 75, 0.75); }

img.img-responsive {
  margin-bottom: 20px; }

.co > img {
  height: 1.2em;
  margin-bottom: 0.2em; }

/* for high resolution display
@media  only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2)
{
    img.img-responsive {
        max-height: 500px;
    }
}
*/
/* Q and A Styles */
tr.question > *:first-child {
  padding-right: 15px; }

tr.question {
  border-top: 1px dotted #778899; }

tr.question td {
  font-weight: bold;
  padding-top: 10px; }

.qandaset table {
  font-size: 14px;
  table-layout: fixed; }
  .qandaset table colgroup > col:first-child {
    width: 5%; }

/* Reference Styles */
.refnamediv h2 {
  display: none; }

.refsect1 h2,
.refsynopsisdiv h2 {
  font-size: 28px !important;
  font-weight: 400 !important; }

.refsect2 h3,
.refsynopsisdiv h3 {
  font-size: 26px !important;
  font-weight: 400 !important; }

.refnamediv p {
  font-size: 30px !important;
  font-weight: 500 !important; }

/* Index Styles */
.indexdiv > h3 {
  border-bottom: 2px dotted lightgrey;
  padding-bottom: 5px; }

.indexdiv > dl {
  margin-left: 30px; }

.indexdiv dl {
  margin-bottom: 5px; }

.indexdiv dt {
  margin: 5px 0 2px; }

.indexdiv dd {
  margin-left: 35px; }

.indexdiv .indexterm {
  font-weight: 200; }

/* Modal Dialog Styles */
body.modal-open {
  overflow-y: scroll; }

.modal-dialog {
  margin-top: 65px; }

.modal-header {
  cursor: move; }

#aboutModal .modal-body {
  font-size: 12px; }

#feedbackModal {
  right: auto;
  bottom: auto;
  overflow: visible; }
  #feedbackModal .modal-dialog {
    position: fixed;
    width: 50%; }

#aboutModal .modal-header, #aboutModal .modal-body {
  padding: 10px 15px 5px; }

#aboutModal #about-title {
  font-size: 24px !important;
  font-weight: 500 !important;
  margin: 0px; }

#aboutModal #about-subtitle {
  color: #777;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  margin: 0; }

#aboutModal #about-authorgroup {
  margin: 0 0 8px 0; }

#aboutModal div.author {
  margin: 4px 10px 5px 0; }

#aboutModal h3.author {
  margin: 0;
  font-size: 12px !important;
  font-style: italic;
  font-weight: 100 !important; }

#aboutModal #about-abstract {
  margin: 10px 0 10px 0px;
  font-size: 16px !important;
  font-weight: 200 !important; }

#aboutModal #about-buildRevision {
  font-weight: 300;
  margin: 5px 0; }

#aboutModal #about-buildRevision > span {
  font-weight: 400;
  color: #777; }

#aboutModal #about-buildDateTime {
  font-weight: 300;
  margin: 5px 0; }

#aboutModal #about-buildDateTime > span {
  font-weight: 400;
  color: #777; }

#aboutModal #about-legalnotice {
  font-weight: 400; }

#aboutModal .affiliation {
  display: none; }

#aboutModal .about-copyright {
  color: #777;
  font-size: 14px;
  margin: 15px 0 5px; }

.author {
  display: inline; }

#feedbackResponse {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px; }

/* Table Styles */
.table {
  font-size: 14px;
  font-size: 1.4rem;
  table-layout: fixed; }

.calloutlist > table {
  width: 100%; }
  .calloutlist > table tr > td img[src$=".svg"] {
    height: 1.2em;
    margin-bottom: 0.2em; }

th[align="center"] {
  text-align: center; }

.table-striped td > :last-child {
  margin-bottom: 2px !important; }

/***********************************/
/* Tab Styles for Screen Elements
/***********************************/
.fr-multi-screen {
  border-bottom: none !important;
  padding-left: 6px; }
  .fr-multi-screen > li.active > a {
    background-color: #f5f5f5 !important; }
  .fr-multi-screen > li > a {
    padding: 1px 6px 2px;
    font-size: 0.8em; }

/* Large desktops and laptops */
@media (min-width: 1200px) {
  #main-content .row:after {
    height: 500px; } }

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #main-content .row:after {
    height: 640px; } }

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  #main-content .row:after {
    height: 680px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #main-content .row:after {
    height: 870px; } }

/* Portrait phones and smaller */
@media (max-width: 480px) {
  #main-content .row:after {
    height: 930px; } }

/* Blockquotes Styles */
blockquote {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
  margin: 0 4em 0 4em;
  border-left: none;
  color: #7b8a8b; }

blockquote::before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: -0.4em;
  color: #2b6ea6; }

blockquote::after {
  position: absolute;
  content: close-quote;
  font-size: 4em;
  right: 0.2em;
  bottom: 0;
  margin-bottom: -0.6em;
  color: #2b6ea6; }

table.blockquote {
  width: auto !important;
  margin: 0 0 0 2em; }

table.blockquote > tbody > tr:nth-of-type(1) > td:nth-of-type(2) {
  position: relative;
  color: #7b8a8b;
  font-style: italic; }

table.blockquote > tbody > tr:nth-of-type(1) > td:nth-of-type(2)::before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: -0.4em;
  color: #2b6ea6; }

table.blockquote > tbody > tr:nth-of-type(1) > td:nth-of-type(2)::after {
  position: absolute;
  content: close-quote;
  font-size: 4em;
  bottom: 0;
  right: 0;
  margin-right: -0.6em;
  margin-bottom: -0.6em;
  color: #2b6ea6; }

div.blockquote {
  margin-bottom: 1.5em; }

.attribution {
  padding-top: 0.5em;
  display: inline-block; }

/***********************************/
/* Imported Styles
/***********************************/
/*

Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #F0F0F0; }

/* Base color: saturation 0; */
.hljs,
.hljs-subst {
  color: #444; }

.hljs-comment {
  color: #888888; }

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold; }

/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #880000; }

.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold; }

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #BC6060; }

/* Language color: hue: 90; */
.hljs-literal {
  color: #78A960; }

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300; }

/* Meta color: hue: 200 */
.hljs-meta {
  color: #1f7199; }

.hljs-meta-string {
  color: #4d99bf; }

/* Misc effects */
.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
